In [1]:
x=int(input("Enter a number :"))
if x%2==0:
    print("Even")
else:
    print("Odd")

Enter a number :2
Even

In [10]:
x=int(input("Enter Number :"))
if x>=80:
    print("4.00")
elif x>=75 & x<80:
    print("3.75")
elif x>=70 & x<75:
    print("3.5")
elif x>=65 & x<70:
    print("3.25")

Enter Number :75
3.75

In [8]:
#for and while loop

In [27]:
sum=0
for i in range(2,4,1):
    sum=sum-i;
print(sum)

68

In [3]:
sum=0
i=0
while i<11:
    sum=sum+i
    i=i+1
print(sum)

55

In [22]:
a=[1,'0',"abc",3.5,1,2]
print(a)
print(len(a))
print(a[2])

[1, '0', 'abc', 3.5, 1, 2]
6
abc

In [20]:
print(a[-4:-1])

['0', 'abc', 3.5]

In [24]:
print(a[-6:-1:2])

[1, 'abc', 1]

In [25]:
print(a[::2])

[1, 'abc', 1]

In [28]:
a[2:4]=['a','b']
print(a)

[1, '0', 'a', 'b', 2]

In [29]:
a[3]='5'
print(a)

[1, '0', 'a', '5', 2]

In [67]:
a=[1,'0',"abc",3.5,1,2]
a.insert(2,"samu")
a.remove(1)
print(a)
a.append("samanta")
print(a)
a.extend(a)
print(a)

AttributeError: 'list' object has no attribute 'removeall'

In [63]:
a=[1,'0',"abc",3.5,1,2]
del[a[0]]
print(a)
a.pop(2)
print(a)
a.clear()

['0', 'abc', 3.5, 1, 2]
['0', 'abc', 1, 2]

In [71]:
print(a)
sorted(a)
print(a)

[1, '0', 'samu', 'abc', 3.5, 1, 2]

TypeError: '<' not supported between instances of 'str' and 'int'

In [89]:
list=[1,2,3,4,1,1,1]
list1=[x for x in list if x%2==0]
print(list1)
res=[]
[res.append(x) for x in list if x not in res]
print(res)

[2, 4]
[1, 2, 3, 4]